.card-piloto {
    perspective: 1200px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 340px;
    transition: transform var(--transition-slow);
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-piloto.flipped .card-inner {
    transform: rotateY(180deg);
    box-shadow: 0 10px 25px var(--vermelho);
}

/* FRENTE E VERSO */
.card-frente,
.card-verso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 14px;
    overflow: hidden;
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
}

/* FRENTE */
.card-frente img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* VERSO */
.card-verso {
    transform: rotateY(180deg);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
}

.card-verso h5.nome-piloto {
    font-family: var(--font-title);
    font-size: 1.6rem;
    text-align: center;
    color: var(--vermelho);

    padding-bottom: 0.4rem;
    margin-bottom: 0.6rem;

    border-bottom: 1px solid var(--card-border);
}


.card-verso ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-verso li {
    font-size: 0.9rem;
    color: var(--corTextos);
}

.card-verso li strong {
    color: var(--corCaracteristicas);
}
